@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    overflow-x: hidden;
    scroll-behavior: smooth;

}
body{
    scroll-behavior: smooth;
}
.contact-man{
    height: 100vh;
    background-size:cover;
    background-image:url('./images/man.jpg');
}
.slick-middle {
    position: absolute;
    top: 90%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .slick-dots li button:before {
    color:white;
  }
  .text,.leading{
    line-height:3.5rem;
  }
  .downloadSection{
    background-image: url("./images/Downloads.jpg");
    background-size:cover;
    /* height: 100vh; */
  }